<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Documents</h1>
  <button class="btn btn-primary" (click)="emitSettingsEvent()">
    <i class="bi bi-gear"></i> Settings
  </button>
</div>
<div class="row">
  <div class="col">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Search</h5>
        <!--ToDO: Johanna -->
      </div>
    </div>
  </div>
</div>
<p>documents works!</p>
