<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!---->

<h1> {{title}}</h1>
<input [(ngModel)] = "query" placeholder="search documents"/>
<button (click) = "search()">Search</button>

<ul>
  <li *ngFor="let doc of results">
    <strong> {{doc._source.title}}</strong> <br>
    {{doc._source.content}}
  </li>
</ul>
