<p>Document Upload</p>

<div>
  <div class="input-group mb-3">
    <input type="file" class="form-control" (change)="onFileSelected($event)" id="fileUpload">
    <button type="button" (click)="fileUpload">Upload File</button>
  </div>


  <!-- Upload progress bar -->
  <div class="progress-bar">
    @if (uploading) {
      <mat-progress-bar
        mode="determinate"
        [value]="uploadProgress"
      ></mat-progress-bar>
    }
  </div>

  <div class="mb-3">

    <ng-container *ngIf="summary !== null; else loading">
      <label for="documentSummary" class="form-label">OCR summary of document</label>
      <textarea class="form-control" id="documentSummary" [value]="summary"></textarea>
    </ng-container>

    <ng-template #loading>
      <div class="spinner-wrapper">
        @if (uploading || polling) {
          <mat-spinner diameter="48"></mat-spinner>
        }
      </div>
      <div *ngIf="!uploading && !polling">
        <label for="documentSummary" class="form-label">OCR summary of document</label>
        <textarea class="form-control" id="documentSummary" placeholder="No summary available."></textarea>
      </div>
    </ng-template>

  </div>
</div>
