<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Register</h1>
</div>
<form>
  <div class="form-group">
    <label for="exampleInputUser2">User</label>
    <input type="text" class="form-control" id="exampleInputUser2" aria-describedby="userHelp2">
    <small id="userHelp2" class="form-text text-muted">we handle your data with confidentiality</small>
  </div>
  <br>
  <div class="form-group">
    <label for="exampleInputPassword2">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword2">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck2">
    <label class="form-check-label" for="exampleCheck2">Check me out</label>
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
