<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Login</h1>
</div>
<form>
  <div class="form-group">
    <label for="exampleInputUser1">User</label>
    <input type="text" class="form-control" id="exampleInputUser1" aria-describedby="userHelp1">
    <small id="userHelp1" class="form-text text-muted">we handle your data with confidentiality</small>
  </div>
  <br>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
